

@-webkit-keyframes gradient-body {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradient-body {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradient-body { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


a:link, a:visited {
    color: black;
}
  
html {
    scroll-behavior: smooth;
}


body{
    margin:0px;
    background: linear-gradient(300deg, #d4385f, #019098, #ffffff, #9a5b56, #b3d3be, #1e5ad6);
background-size: 400% 400%;

-webkit-animation: gradient-body 20s ease infinite;
-moz-animation: gradient-body 20s ease infinite;
animation: gradient-body 20s ease infinite;
}


.grid {
    display: grid;
    grid-template-areas: 
                         
                         "main"
                         "footer";

	grid-template-columns: 100%;

    grid-template-rows: 
                         
                        1fr 
                        40px;

   
    justify-content: center;
    
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    padding: 0px;
}

/* HEADER STUFF */
.mainheader {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1000;
}

.headerfloat {
    float: left;
    width: 10%;
    
}
.header1 {
    position: relative;
    left: 5px;
    top:3px;
    text-align: start;
}

.iconflex {
    float:left;
    width: 90%;
    display:flex;
    justify-content: flex-end;
    flex-wrap:wrap;
}
.icon {
    margin: 15px;
    font-size: 1.5rem;
}
.icon a, .contact a {
    text-decoration:none;
}

.contact {
    margin: 15px;
    margin-left:25px;
    margin-right:5px;
    font-size: 1.5rem;
}
/* HEADER STUFF END */


.font {
    
    font-family: "Lato", sans-serif;

}

    } */

    /* MAIN IMAGE */
.imgdiv {
    clear: both;
    width:100%;
    text-align: center;
    position: relative;
}
.wel {
    font-size: 5rem;
    color:#d4385f;
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 100px;
line-height: 117px;
}
/* MAIN IMAGE END */    
 
/* UNDER THE MAIN IMAGE ........................................ */
            .info {
                width: 100%;
                text-align:center;
                
            }
            .info p {
                font-size: 3rem;
            }


            .buttonflex {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            .buttons {
                float: left;
                width: 45%;
                box-sizing: content-box;
                margin: 20px;
                font-size: 1.5rem;
                color: white;
                
            }
            .contact-button{
                background-color: #d4385f;
                background: linear-gradient(270deg, #d4385f 14%, #f7688b 68.5%);
                padding: 15px;
                border-radius: 15px;
                
            }
            .button1 {
                text-align: end;
                

            }
            .button2 {
                text-align: start;
                
            }


            #lol {
                position: absolute;
                top: 7%;
                left: 50%;
                transform: translate(-50%, -50%);   
                font-size:2.5rem;
                font-family: 'Lato';
                background:rgba(251,251,251,0.5);
                width:100%;
                }


 /* UNDER THE MAIN IMAGE END ........................................ */


    /* ABOUT ME SECTIOOOOON */
.aboutme-text {
    text-align: start;
    margin-left: 10%;
    margin-bottom: 3%;
    margin-top: 8%;
    font-size: 35px;
    
    
}
.aboutme {
    width: 80%;
    min-height: 27vh;
    display: inline-block;
    box-shadow: 0 0 3px #ccc;
    align-items: center;
    justify-content: center; 
    justify-self: center;  
    background-color: rgba(251,251,251,0.3);
    
}
.aboutme-flex {
    display: flex;
    flex-wrap: wrap;
}

.aboutme-photo, .aboutme-info, .aboutme-lorem {
    flex-grow: 1;
    padding-top: 3vh;
    float: left;
    position: relative;
    line-height: 0,5em;
    
}
.aboutme-lorem {
    width: 50vh;
    text-align: start;
    padding-left: 10px;
    justify-content: center;
}
.aboutme-info {
    text-align: start;
    padding-left: 10px;
}
.aboutme-info p {
    line-height: 1.5em;
    padding:;}
.aboutme-photo img {
    border-radius: 50%;
}

/* ABOUTME SECTIOOOON ENDDD */

/* SKILS SECTION ----------- */

.skills {
    width: 80%;
    min-height: 27vh;
    display: inline-block;
    box-shadow: 0 0 3px #ccc;
    align-items: center;
    justify-content: center; 
    justify-self: center;  
    background-color: rgba(251,251,251,0.3);
    
}
.skills-text{
text-align: start;
    margin-left: 25%;
    margin-bottom: 3%;
    font-size: 35px;
    margin-top: 4%;
}
.skills-flex {
    display: flex;
    flex-wrap: wrap;
    
}

.first-skill, .second-skill, .third-skill {
    flex-grow: 1;
    padding-top: 3vh;
}
/* SKILLS SECTION END ----------- */

 /* PORTFOLIO STUFF --------------- */
    .portfolio-text{
        text-align: center;
            
            margin-bottom: 3%;
            font-size: 35px;
            margin-top: 4%;
    }


    .portfolio-photo {
        height: 30vh;
        width: 100%;
        object-fit: cover;
    }




    .portfolio-grid {
        width: 100%;
        
        display: grid;
        box-shadow: 0 0 3px #ccc;
        justify-content: center;
        align-content: center;
        text-align: center;
        background-color: rgba(251,251,251,0.3);
        


        grid-template-areas: "big standard stan"
                            "big stan2 stan3";

                            grid-template-columns: 1fr 1fr 1fr;

                            grid-template-rows: 
                                                
                                                auto
                                                1fr;
        
    }                          

            /* grid area portfolio */

            .photo-big {
                grid-area: big;
                height: 100%;
                width: 100%;
                }
                
            .photo-standard {
                    grid-area: standard;
            }
            .photo-stan2 {
                grid-area: stan2;
            }
            .photo-stan3 {
                grid-area: stan3;
            }
            .photo-stan {
                grid-area: stan;
            }
            /* grid area end*/

/* PORTFOLIO STUFF end --------------- */

/* CONTACT FORMULAR ----------------- */
.contact-text{
    text-align: center;
    margin-bottom: 3%;
    font-size: 35px;        
    margin-top: 4%;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
  }
  
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.container-contact {
    border-radius: 5px;
    padding: 20px;
  }
  /* CONTACT FORMULAR END ----------------- */

  /* FOOTER CONTAINER */
.footer-flex {
	background-color: #ffffff;
	color: #fff;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;   
}
.footer-flex ul {
    list-style: none;
    margin: auto;
    padding: 0px 10px 0px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
	align-items: center;
	text-align: center;
 }
 .footer-flex ul li a {
    display: flex;
    padding: 2px;
    margin: 0px 15px;
    border-radius: 55%;
}


li img {
    height: 40px;
}
/* FOOTER CONTAINER END */

/* HOVERS --------------------------------------*/
.icon:hover, .contact:hover {
    
    padding-top:10px;
    padding-bottom: 10px;
    margin: 0px 15px;
    
    text-align: center;
    align-self: center;
    
    background-color: lightgray;
    transition: 1s;
}

.footer-flex ul li a:hover {
    
    padding: 2px;
    margin: 0px 15px;
    border-radius: 50%;
    background-color: lightgray;
    transition: 1s;
}
input[type=submit]:hover {
    background-color: #45a049;
  }
.buttons:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in;
  
}
  .photo-big:hover {
    
}
/* HOVERS END --------------------------------------*/



/* MEDIA SCREEN DIFFEREN SIZES ------------------ */

@media screen and (max-width: 900px) {
.wel {
    font-size: 4.5rem;
    line-height: 3.5rem;
}
#lol {
    font-size: 2rem;
}
.info p {
    font-size: 2rem;
}
.buttons {
    font-size: 1rem;
}


}




@media screen and (max-width: 500px) {

.wel {
    font-size: 2.5rem;
}
#lol {
    font-size: 1.2rem;
    top: 5%;
}
.contact-text, .aboutme-text, .skills-text, .portfolio-text {
    font-size: 1.5rem;
}

.icon-flex {
    flex-direction: column;
    flex-wrap: wrap;
}
.icon, .contact {
    font-size: 1rem;
}
.buttons {
    font-size: 0.7rem;
}
.banner {
    
}
.skills-text {
    margin: 10%;
}
li img {
    height: px;
}
.icon, .contact{
  margin: 10px;  
}

}
/* MEDIA SCREEN DIFFEREN SIZES END ------------------ */