

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}





body{
    margin:0px;
    background: linear-gradient(250deg, #d4385f, #019098, #ffffff, #9a5b56, #b3d3be);
background-size: 400% 400%;

-webkit-animation: AnimationName 20s ease infinite;
-moz-animation: AnimationName 20s ease infinite;
animation: AnimationName 20s ease infinite;
}


.grid {
    display: grid;
    grid-template-areas: 
                         
                         "main"
                         "footer";

	grid-template-columns: 100%;

    grid-template-rows: 
                         
                        1fr 
                        40px;

   
    justify-content: center;
    
}

.container {
    width: 100%;
    max-width: ;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    padding: 0px;
}
.mainheader {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1000;
}

.headerfloat {
    float: left;
    width: 10%;
    
}
.header1 {
    position: relative;
    left: 5px;
    top:3px;
    text-align: start;
}

.iconflex {
    float:left;
    width: 90%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap:wrap;
}
.icon {
    margin: 15px;
    font-size: 1.5rem;
}

.contact {
    margin: 15px;
    margin-left:25px;
    margin-right:5px;
    font-size: 1.5rem;
}


.icon, .contact, .info, .buttons, .aboutme-text, .skills-text, .portfolio-text, .contact-text {
    
    font-family: "Lato", sans-serif;

}

    } */

.imgdiv {
    clear: both;
    width:100%;
    text-align: center;
    position: relative;
}
.wel {
    font-size: 5rem;
    color:#d4385f;
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 100px;
line-height: 117px;
}

.info {
    width: 100%;
    text-align:center;
    font-size: 32px;
}
.info p {
    font-size: 3rem;
}


.buttonflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons {
    float: left;
    width: 45%;
    box-sizing: content-box;
    margin: 20px;
    font-size: 1.5rem;
    
}
.con-text{
    background-color: #d4385f;
    padding: 15px;
    border-radius: 15px;
}
.button1 {
    text-align: end;
    

}
.button2 {
    text-align: start;
    
}
/* .textonimage {
    text-align: center;
    vertical-align: text-top; */
}
/*coś nie linkuje się */
.absolute-text {
    
     }
     
#lol {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);   
     font-size:2rem;
     font-family: 'Inconsolata', monospace;
     background:rgba(251,251,251,0.5);
    width:100%;

     
    }
.aboutme-text {
    text-align: start;
    margin-left: 10%;
    margin-bottom: 3%;
    font-size: 35px;
    
    
}
.aboutme {
    width: 80%;
    min-height: 27vh;
    display: inline-block;
    box-shadow: 0 0 3px #ccc;
    align-items: center;
    justify-content: center; 
    justify-self: center;  
    background-color: rgba(251,251,251,0.3);
    
}
.aboutme-flex {
    display: flex;
    flex-wrap: wrap;
}
/* .aboutme-photo {
    flex-grow: 1;
    align-content: center;
    width: 25%;
    height: 200px;
        align: middle;
        border-radius: 50px;
}

.aboutme-info {
    flex-grow: 1;
    text-align: left;
    border-right: 2px solid green;
    width: 30%;
}
.aboutme-lorem {
    flex-grow: 1;
    width: 45%;
    justify-content: flex-start;
} */
.aboutme-photo, .aboutme-info, .aboutme-lorem {
    flex-grow: 1;
    padding-top: 3vh;
    float: left;
    position: relative;
    line-height: 0,5em;
    
}
.aboutme-lorem {
    width: 50vh;
    text-align: start;
}
.aboutme-info {
    text-align: start;
}
.aboutme-info p {
    line-height: 1.5em;}
.aboutme-photo img {
    border-radius: 50%;
}

.skills {
    width: 80%;
    min-height: 27vh;
    display: inline-block;
    box-shadow: 0 0 3px #ccc;
    align-items: center;
    justify-content: center; 
    justify-self: center;  
    background-color: rgba(251,251,251,0.3);
    
}
.skills-text{
text-align: start;
    margin-left: 25%;
    margin-bottom: 3%;
    font-size: 35px;
    margin-top: 4%;
}
.skills-flex {
    display: flex;
    flex-wrap: wrap;
    
}

.first-skill, .second-skill, .third-skill {
    flex-grow: 1;
    padding-top: 3vh;
}

.portfolio-text{
    text-align: center;
        
        margin-bottom: 3%;
        font-size: 35px;
        margin-top: 4%;
}


.portfolio-photo {
    height: 30vh;
    width: 100%;
    object-fit: cover;
}




.portfolio-grid {
    width: 100%;
    
    display: grid;
    box-shadow: 0 0 3px #ccc;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgba(251,251,251,0.3);
    


    grid-template-areas: "big standard stan"
                         "big stan2 stan3";

                         grid-template-columns: 1fr 1fr 1fr;

                         grid-template-rows: 
                                              
                                             auto
                                             1fr;
    
}                          

/* grid area portfolio */

.photo-big {
    grid-area: big;
    height: 100%;
    width: 100%;
    }
    
.photo-standard {
        grid-area: standard;
}
.photo-stan2 {
    grid-area: stan2;
}
.photo-stan3 {
    grid-area: stan3;
}
.photo-stan {
    grid-area: stan;
}
/* grid area end*/



.contact-text{
    text-align: center;
        
        margin-bottom: 3%;
        font-size: 35px;
        margin-top: 4%;
}

/* object-fit: cover; */




/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container-contact {
    border-radius: 5px;
    background-color:;
    padding: 20px;
  }

  .gr-footer {
	background-color: #ffffff;
	color: #fff;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 40px;
    bottom: ;
    flex-direction: row;

    
}
.gr-footer ul {
    list-style: none;
    margin: auto;
    padding: 0px 10px 0px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
	align-items: center;
	text-align: center;
 }
.gr-footer ul li a {
    display: flex;
    padding: 2px;
    margin: 0px 15px;
    border-radius: 55%;
}
.gr-footer ul li a:hover {
    
    padding: 2px;
    margin: 0px 15px;
    border-radius: 50%;
    background-color: lightgray;
    transition: 1s;
}

li img {
    height: 40px;
}