body{
    margin:0px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

.headerfloat {
    float: left;
    width: 10%;
    
}
.header1 {
    position: relative;
    left: 5px;
    top:3px;
    text-align: start;
}

.iconflex {
    float:left;
    width: 90%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap:wrap;
}
.icon {
    margin: 15px;
}

.contact {
    margin: 15px;
    margin-left:25px;
    margin-right:5px;
}


.icon, .contact, .info, .buttons, .aboutme-text {
    
    font-family: "Lato", sans-serif;

}

} */

.imgdiv {
    clear: both;
    width:100%;
    text-align: center;
    position: relative;
}

.info {
    width: 100%;
    text-align:center;
    font-size: 32px;
}


.buttonflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons {
    float: left;
    width: 45%;
    box-sizing: content-box;
    margin: 20px;
}
.button1 {
    text-align: end;
    

}
.button2 {
    text-align: start;
    
}
/* .textonimage {
    text-align: center;
    vertical-align: text-top; */
}
/*coś nie linkuje się */
.absolute-text {
     
     }
     
#lol {
    position:absolute;
     bottom:50%;
     font-size:95px;
     font-family:"verdana";
     background:rgba(251,251,251,0.5);
    
     width:100%;
    }
.aboutme-text {
    text-align: start;
    margin-left: 10%;
    margin-bottom: 3%;
    font-size: 35px;
    
    
}
.aboutme {
    width: 80%;
    height: 200px;
    display: inline-block;
    box-shadow: 0 0 3px #ccc;
    
}
.aboutme-flex {
    display: flex;
    flex-direction: row;
}
.aboutme-photo {
    align-content: center;
    width: 25%;
    height: 200px;
        align: middle;
        border-radius: 50px;
}

.aboutme-info {
    text-align: left;
    border-right: 6px solid green;
    width: 30%;
}
.aboutme-lorem {
    width: 45%;
    justify-content: flex-start;
}
